<h1><%= @song.title %></h1>
<% if @song.release_year %>
<p>Released <%= @song.release_year %></p>
<% end 
%>
<p><%= "Not " unless @song.released %>Released</p>
<p>Artist: <%= @song.artist_name %></p>
<p>Genre: <%= @song.genre %></p>
<%= link_to "Delete Song", song_path(@song), method: delete %>